In [2]:
import pandas as pd

VERBOSE = True

In [45]:
# specify stock name
name = 'msft'

# load file to convert
df = pd.read_csv('data/stock_data/Stocks/' + name + '.us.txt')
# save as
destination = 'data/' + name + '_edit.csv'

In [46]:
if VERBOSE:
    print ('Before:\n')
    print (df)
    print ('\n')

# drop columns
df = df.drop(columns=['Open', 'Close', 'Volume', 'OpenInt'])
# y (price) is average of High and Low
df['y'] = df[['High', 'Low']].mean(axis=1)
# drop columns
df = df.drop(columns=['High', 'Low'])
# rename Date
df = df.rename(columns={'Date': 'ds'})

if VERBOSE:
    print ('After:\n')
    print (df)
    print ('\n')

Before:

            Date      Open      High       Low     Close      Volume  OpenInt
0     1986-03-13   0.06720   0.07533   0.06720   0.07533  1371330506        0
1     1986-03-14   0.07533   0.07533   0.07533   0.07533   409569463        0
2     1986-03-17   0.07533   0.07533   0.07533   0.07533   176995245        0
3     1986-03-18   0.07533   0.07533   0.07533   0.07533    90067008        0
4     1986-03-19   0.07533   0.07533   0.07533   0.07533    63655515        0
...          ...       ...       ...       ...       ...         ...      ...
7978  2017-11-06  84.20000  84.70000  84.08250  84.47000    19852151        0
7979  2017-11-07  84.77000  84.90000  83.93000  84.26000    17927878        0
7980  2017-11-08  84.14000  84.61000  83.83000  84.56000    18029584        0
7981  2017-11-09  84.11000  84.27000  82.90000  84.09000    21175384        0
7982  2017-11-10  83.79000  84.09500  83.23000  83.87000    19396301        0

[7983 rows x 7 columns]


After:

              ds          y
0     1986-03-13   0.071265
1     1986-03-14   0.075330
2     1986-03-17   0.075330
3     1986-03-18   0.075330
4     1986-03-19   0.075330
...          ...        ...
7978  2017-11-06  84.391250
7979  2017-11-07  84.415000
7980  2017-11-08  84.220000
7981  2017-11-09  83.585000
7982  2017-11-10  83.662500

[7983 rows x 2 columns]

In [47]:
# save new file
df.to_csv(destination, index = False)

## Continue to select range to remove

In [19]:
# Specify starting and ending index of range to remove
starting_idx = 0
ending_idx = len(df['y']) - 28

df = df.drop(index=range(starting_idx, ending_idx))

if VERBOSE:
    print ('After:\n')
    print (df)
    print ('\n')

After:

               ds        y
14030  2017-10-04  24.6600
14031  2017-10-05  24.3600
14032  2017-10-06  24.3350
14033  2017-10-09  23.7000
14034  2017-10-10  23.5100
14035  2017-10-11  23.0150
14036  2017-10-12  22.9450
14037  2017-10-13  23.0550
14038  2017-10-16  23.2050
14039  2017-10-17  23.1250
14040  2017-10-18  23.1750
14041  2017-10-19  23.4150
14042  2017-10-20  22.9700
14043  2017-10-23  22.8100
14044  2017-10-24  22.0300
14045  2017-10-25  21.5950
14046  2017-10-26  21.4250
14047  2017-10-27  20.9700
14048  2017-10-30  20.4900
14049  2017-10-31  20.2250
14050  2017-11-01  20.2400
14051  2017-11-02  19.8525
14052  2017-11-03  20.0950
14053  2017-11-06  20.3050
14054  2017-11-07  20.1850
14055  2017-11-08  20.1950
14056  2017-11-09  19.9605
14057  2017-11-10  20.2900

In [20]:
# save new file
df.to_csv(destination, index = False)