In [1]:
import pandas as pd

VERBOSE = True

In [16]:
# specify stock name
name = 'ge'

# load file to convert
df = pd.read_csv('data/stock_data/Stocks/' + name + '.us.txt')
# save as
destination = 'data/' + name + '_edit.csv'

In [17]:
if VERBOSE:
    print ('Before:\n')
    print (df)
    print ('\n')

# drop columns
df = df.drop(columns=['Open', 'Close', 'Volume', 'OpenInt'])
# y (price) is average of High and Low
df['y'] = df[['High', 'Low']].mean(axis=1)
# drop columns
df = df.drop(columns=['High', 'Low'])
# rename Date
df = df.rename(columns={'Date': 'ds'})

if VERBOSE:
    print ('After:\n')
    print (df)
    print ('\n')

Before:

             Date     Open     High      Low    Close     Volume  OpenInt
0      1962-01-02   0.6277   0.6362   0.6201   0.6201    2575579        0
1      1962-01-03   0.6201   0.6201   0.6122   0.6201    1764749        0
2      1962-01-04   0.6201   0.6201   0.6037   0.6122    2194010        0
3      1962-01-05   0.6122   0.6122   0.5798   0.5957    3255244        0
4      1962-01-08   0.5957   0.5957   0.5716   0.5957    3696430        0
...           ...      ...      ...      ...      ...        ...      ...
14053  2017-11-06  20.5200  20.5300  20.0800  20.1300   60641787        0
14054  2017-11-07  20.1700  20.2500  20.1200  20.2100   41622851        0
14055  2017-11-08  20.2100  20.3200  20.0700  20.1200   39672190        0
14056  2017-11-09  20.0400  20.0710  19.8500  19.9900   50831779        0
14057  2017-11-10  19.9800  20.6800  19.9000  20.4900  100698474        0

[14058 rows x 7 columns]


After:

               ds         y
0      1962-01-02   0.62815
1      1962-01-03   0.61615
2      1962-01-04   0.61190
3      1962-01-05   0.59600
4      1962-01-08   0.58365
...           ...       ...
14053  2017-11-06  20.30500
14054  2017-11-07  20.18500
14055  2017-11-08  20.19500
14056  2017-11-09  19.96050
14057  2017-11-10  20.29000

[14058 rows x 2 columns]

In [18]:
# save new file
df.to_csv(destination, index = False)

## Continue to select range to remove

In [19]:
# Specify starting and ending index of range to remove
starting_idx = 0
ending_idx = len(df['y']) - 28

df = df.drop(index=range(starting_idx, ending_idx))

if VERBOSE:
    print ('After:\n')
    print (df)
    print ('\n')

After:

               ds        y
14030  2017-10-04  24.6600
14031  2017-10-05  24.3600
14032  2017-10-06  24.3350
14033  2017-10-09  23.7000
14034  2017-10-10  23.5100
14035  2017-10-11  23.0150
14036  2017-10-12  22.9450
14037  2017-10-13  23.0550
14038  2017-10-16  23.2050
14039  2017-10-17  23.1250
14040  2017-10-18  23.1750
14041  2017-10-19  23.4150
14042  2017-10-20  22.9700
14043  2017-10-23  22.8100
14044  2017-10-24  22.0300
14045  2017-10-25  21.5950
14046  2017-10-26  21.4250
14047  2017-10-27  20.9700
14048  2017-10-30  20.4900
14049  2017-10-31  20.2250
14050  2017-11-01  20.2400
14051  2017-11-02  19.8525
14052  2017-11-03  20.0950
14053  2017-11-06  20.3050
14054  2017-11-07  20.1850
14055  2017-11-08  20.1950
14056  2017-11-09  19.9605
14057  2017-11-10  20.2900

In [20]:
# save new file
df.to_csv(destination, index = False)